.bottom {
    border: solid black;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

body {
    background-color: black;
}

.icons {
    margin-top: 10px;
}

.songItemContainer {
    padding: 30px;
}

.songItemContainer img {
    width: 80px;
    padding: 10px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 25px 50px 75px 100px;
        margin: 25px 50px 75px 100px;
        width: fit-content;
    }
}

.songItem {
    border: solid rgb(10, 10, 10);
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    height: fit-content;
}

.timestamp {
    float: right;
    margin-right: 20px;
}

#myProgressBar {
    cursor: pointer;
}

h2 {
    font-weight: bold;
    margin-top: 20px;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    color: rgb(222, 222, 231);
    border: solid black;
    background-color: black;
}

.contact {
    margin: 20px;
    font-size: 30px;
}

#fb,
#insta,
#utube,
#tw {
    border: solid black;
    border-radius: 50%;
    padding: 10px;
    margin-left: 30px;
}

li {
    display: inline-block;
    list-style-type: none;
}

h4 {
    padding: 10px;
}

#insta {
    background: linear-gradient(0deg, yellow, red, purple);
    color: white;
}

#utube {
    background-color: red;
    color: white;
}

#fb {
    background-color: blue;
    color: white;
}

#tw {
    background-color: skyblue;
    color: white;
}

.fb h4 {
    color: blue;
    font-family: Impact, cursive, 'Arial Narrow Bold', sans-serif;
}

.insta h4 {
    color: red;
    font-family: Impact, cursive, 'Arial Narrow Bold', sans-serif;
}

.ut h4 {
    color: rgb(243, 230, 230);
    font-family: Impact, cursive, 'Arial Narrow Bold', sans-serif;
}

.tw h4 {
    color: rgb(26, 29, 199);
    font-family: Impact, cursive, 'Arial Narrow Bold', sans-serif;
}
